doctype html
html
  head
    title VictorParraCant
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // Icons y Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    // Css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(rel="stylesheet", href="./stylesheets/style.css")
        
  body
    block content
    
    // Script
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")    
